<div class="modal-backdrop in" style="bottom:0; z-index: 3;" >
</div>
<div class="modal center ani-fade-bounce speed-300" tabindex="-1" 
     role="dialog" ng-if="active" ng-click="exit('$closeButton');"
     style="display: block; " >
    <div class="modal-dialog modal-primary " 
         style="z-index: 4;" ng-click="$event.stopPropagation();">
        <div class="modal-content">
            <div class="modal-header" >
                <button type="button" class="close" ng-click="exit()">×</button>
                <h4 class="modal-title">Edit Judge</h4>
            </div>
            <div class="modal-body" ng-show="message" ng-bind-html="message" >
            </div>
            <form class="row">
                <br>
                <div class="form-group col-xs-10 col-xs-offset-1">
                    <label>Name</label>
                    <input type="text" focus-me="true" class="form-control" ng-model="judge.name"/>
                </div>
                <div class="form-group col-xs-10 col-xs-offset-1">
                    <label>Url</label>
                    <input type="text" focus-me="true" class="form-control" ng-model="judge.url"/>
                </div>
            </form>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" ng-click="save()">Save</button>
                <button type="button" class="btn btn-default" ng-click="exit('$document')">Cancel</button>
            </div>
        </div>
    </div>
</div>
