<nav class="navbar navbar-default" role="navigation">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <a class="navbar-brand" href="/">Algopit</a>
      </div>
    
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li ng-class="{active: selected === 'problems'}"><a href="/problems">Problems</a></li>
          <li ng-class="{active: selected === 'lists'}"><a ui-sref="lists.all">Lists</a></li>
          <li ng-class="{active: selected === 'categories'}" ng-if="currentUser.isAdmin()"><a ui-sref="categories.all">Categories</a></li>
          <li ng-class="{active: selected === 'judges'}" ng-if="currentUser.isAdmin()"><a ui-sref="judges.all">Judges</a></li>
        </ul>
        
        
        <ul class="nav navbar-nav navbar-right" ng-if="!user.isAuthenticated()">
          <li ng-class="{active: selected == 'signup'}"><a href="/signup">Sign Up</a></li>
          <li ng-class="{active: selected == 'login'}"><a href="/login">Log In</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right" ng-if="user.isAuthenticated()">
          <li><a>{{currentUser.name}}</a></li>
          <li ng-class="{active: selected == 'settings'}"><a href="/settings">Settings</a></li>
          <li><a ng-click="user.logout()" href="javascript:void()">Sign Out</a></li>
        </ul>
        
        
      </div><!-- /.navbar-collapse -->
    </nav>