.alertsContainer {
	.alert {
		box-shadow: 0 0px 5px rgba(0, 0, 0, 0.3);	
		&.top-right {
			top: 30px;
			right: 0;
			margin: 2px;
			z-index: 1050;
			outline: none;
			padding: 3px;
			border-radius: 0px;
			box-shadow: 0px 0px 1px 0px #aaa;
			&.close {
	    		padding-left: 10px
			}
		}
	}
}
table {
	&.table-primary {
		border-color: #337ab7;
		tbody > tr > th {
			color: #fff;
			background-color: #337ab7;
			border-color: #337ab7;
		}
	}
	&.table-success {
		border-color: #d6e9c6;
		tbody > tr > th {
			color: #3c763d;
			background-color: #dff0d8;
			border-color: #d6e9c6;
		}
	}
	&.table-info {
		border-color: #bce8f1;
		tbody > tr > th {
			color: #31708f;
			background-color: #d9edf7;
			border-color: #bce8f1;
		}
	}
	&.table-warning {
		border-color: #faebcc;
		tbody > tr > th {
			color: #8a6d3b;
			background-color: #fcf8e3;
			border-color: #faebcc;
		}
	}
	&.table-danger {
		border-color: #ebccd1;
		tbody > tr > th {
			color: #a94442;
			background-color: #f2dede;
			border-color: #ebccd1;
		}
	}
}
i {
	&.fa-2 {
		font-size: 2em;
	}
	&.fa-3 {
		font-size: 4em;
	}
	&.fa-4 {
		font-size: 7em;
	}
	&.fa-5 {
		font-size: 12em;
	}
	&.fa-6 {
		font-size: 20em;
	}
}