    <div class="container" style="margin-top:10px">
			<div class="col-md-12">
			    <h1>Settings</h1>
			    <hr />
			    <algo-tab>
			        <algo-pane title="General">
			            <div class="container" style="margin: 10px;">
			                <form class="form-horizontal">
			                    <div class="input-group">
			                        <label>
			                            E-mail:
			                            <input type="text" name=""/>
			                        </label>
			                    </div>
			                    <div class="input-group">
			                        <label>
			                            First Name:
			                            <input type="text" name=""/>
			                        </label>
			                    </div>
			                    <div class="input-group">
			                        <label>
			                            Last Name:
			                            <input type="text" name=""/>
			                        </label>
			                    </div>
			                </form>
			            </div>
			        </algo-pane>
			        <algo-pane title="Spoj">
			            Spoj Settings
			        </algo-pane>
			        <algo-pane title="Codeforces">
			            Codeforces Settings
			        </algo-pane>
			    </algo-tab>
			</div>
	</div>