    <div class="container" style="margin-top:10px">
			<div class="col-md-12">
			    <h1>Settings</h1>
			    <hr />
			    <algo-tab>
			    	
			        <algo-pane title="General">
			            <div class="container" style="margin: 30px;">
			                <form class="form-horizontal" ng-submit="save()">
			                	
  								<div class="form-group">
								<label for="i1" class="col-sm-1 control-label">Email</label>
								<div class="col-sm-4">
									<input type="email" ng-model="user.email" class="form-control" id="i1" placeholder="Email">
								</div>
								</div>
								<div class="form-group">
								<label for="i1" class="col-sm-1 control-label">Name</label>
								<div class="col-sm-4">
									<input type="text" ng-model="user.name" class="form-control" id="i1" placeholder="Name">
								</div>
								</div>
								<input type="submit" name="" value="Save" class="btn btn-default" />
			                </form>
			            </div>
			        </algo-pane>
			        
			        <algo-pane title="Spoj">
			            <div class="container" style="margin: 30px;">
			                <form class="form-horizontal" ng-submit="save()">
								<div class="form-group">
								<label for="i1" class="col-sm-1 control-label">Username</label>
								<div class="col-sm-4">
									<input type="text" class="form-control" ng-model="user.spoj.username" id="i1" placeholder="Username">
								</div>
								</div>
								<input type="submit" name="" value="Save" class="btn btn-default" />
			                </form>
		                </div>
			        </algo-pane>
			        
			        
			        <algo-pane title="Codeforces">
			            <div class="container" style="margin: 30px;">
			                <form class="form-horizontal" ng-submit="save()">
								<div class="form-group">
								<label for="i1" class="col-sm-1 control-label">Handle</label>
								<div class="col-sm-4">
									<input type="text" class="form-control" ng-model="user.codeforces.handle" id="i1" placeholder="Handle">
								</div>
								</div>
								<input type="submit" name="" value="Save" class="btn btn-default" />
			                </form>
		                </div>
			        </algo-pane>
			        
			    </algo-tab>
			    {{user.username == 'cjtoribio' ? user : ''}}
			</div>
	</div>